apiVersion: v1
kind: ServiceAccount
metadata:
  name: ml-controller-sa
  namespace: kube-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: ml-controller-role
rules:
- apiGroups: ["apps"]
  resources: ["deployments"]
  verbs: ["get", "list", "patch"]
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["get", "list"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: ml-controller-rolebinding
subjects:
- kind: ServiceAccount
  name: ml-controller-sa
  namespace: kube-system
roleRef:
  kind: ClusterRole
  name: ml-controller-role
  apiGroup: rbac.authorization.k8s.io